{{#if (theme-setting 'dismissable_false')}}
  {{#d-modal-body title=(theme-prefix 'guest_gate.title') dismissable=false}}
    {{#if (theme-setting 'custom_gate_enabled') }}
      <div class="custom-gate">
        <img src="{{theme-setting 'custom_gate_image'}}"/>
        <h2>{{theme-i18n "custom_gate.big_text"}}</h2>
        <p>{{theme-i18n "custom_gate.little_text"}}</p>
      </div>
      {{else}}
      <div>
        <p>{{replace-emoji (i18n 'signup_cta.intro')}}</p>
        <p>{{replace-emoji (i18n 'signup_cta.value_prop')}}</p>
      </div>
    {{/if}}
    {{login-buttons externalLogin=(action "externalLogin")}}  
  {{/d-modal-body}}
  {{else}}
  {{#d-modal-body title=(theme-prefix 'guest_gate.title')}}
    {{#if (theme-setting 'custom_gate_enabled') }}
      <div class="custom-gate">
        <img src="{{theme-setting 'custom_gate_image'}}"/>
        <h2>{{theme-i18n "custom_gate.big_text"}}</h2>
        <p>{{theme-i18n "custom_gate.little_text"}}</p>
      </div>
      {{else}}
      <div>
        <p>{{replace-emoji (i18n 'signup_cta.intro')}}</p>
        <p>{{replace-emoji (i18n 'signup_cta.value_prop')}}</p>
      </div>
    {{/if}}
    {{login-buttons externalLogin=(action "externalLogin")}}  
  {{/d-modal-body}}
{{/if}}

<div class="modal-footer">
  {{#if ssoEnabled}}
    {{d-button label=(theme-prefix 'guest_gate.log_in') action="showLogin"}}
      &nbsp;&nbsp;or&nbsp;
    {{d-button label=(theme-prefix 'guest_gate.sign_up') action="showCreateAccount"}}
    {{else}}
    {{#if (theme-setting 'use_gate_buttons') }}
      {{#if (theme-setting 'redirect_to_home') }}
        {{d-button class="btn-primary" label=(theme-prefix 'guest_gate.log_in') href="/login"}}
        {{d-button label=(theme-prefix 'guest_gate.sign_up') href="/signup"}}
        {{else}}
        {{d-button class="btn-primary" label=(theme-prefix 'guest_gate.log_in') action="showLogin"}}
        {{d-button label=(theme-prefix 'guest_gate.sign_up') action="showCreateAccount"}}
      {{/if}}
      {{else}}
      {{#if (theme-setting 'redirect_to_home') }}
        <a href="/login">{{theme-i18n "guest_gate.log_in"}}</a> |
        <a href="/signup">{{theme-i18n "guest_gate.sign_up"}}</a>
        {{else}}
        <a href {{action "showLogin"}}>{{theme-i18n "guest_gate.log_in"}}</a> |
        <a href {{action "showCreateAccount"}}>{{theme-i18n "guest_gate.sign_up"}}</a>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
