{{#d-gate title=title modalClass=modalClass}}
  <div class="modal-outer-container">
    <div class="modal-middle-container">
      <div class="modal-inner-container">
        <div class="modal-header">
          {{d-button
            icon="times"
            action=(route-action "closeModal" "initiatedByCloseButton")
            class="btn-flat modal-close close"
            title="modal.close"
          }}
          {{#if title}}
            <div class="title">
              <h3 id="discourse-modal-title">{{title}}</h3>

              {{#if subtitle}}
                <p>{{subtitle}}</p>
              {{/if}}
            </div>
          {{/if}}
        </div>
        <div id='modal-alert'></div>
        {{outlet "modalBody"}}
        {{#each errors as |error|}}
          <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            {{error}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/d-gate}}
